---
layout: archive
title: "Research Interests"
permalink: /portfolio/
author_profile: true
---

Research Interests
======
My research interests span a variety of mutidiplanary topics in civil engineering and solid mechanics, including:
1.  Non-linear elastodynamics in compressible solids
1.  Body wave scattering in heterogeneous media
1.  Material characterization using ballistic and diffuse waves
1.  Application of wave interferometry in elastic wave-based structural health monitoring
1.  Long-term monitoring of infrastructures
1.  Application of machine learning in civil engineering

Non-linear elastodynamics in compressible solids
------
In structural design, mechanical properties are generally assumed to remain constant despite external changes. However, factors such as temperature variations and changing external loads can influence these properties. These influences are referred to as *thermoelasticity* and *non-linear elasticity*, respectively. These changes become particularly significant when dealing with high-frequency elastodynamics. In such scenarios, the assumptions of linear elasticity no longer hold, and it becomes necessary to apply non-linear constitutive equations. Understanding and analyzing this non-linear behavior is essential for utilizing high-frequency elastic waves to detect changes in wave properties caused by temperature fluctuations or load variations in structural health monitoring and non-destructive testing.

Body wave propagation in heterogeneous media
------
A material can exhibit both homogeneous and heterogeneous behavior simultaneously at different length scales, as seen in metals, rocks, and concrete. These heterogeneities can affect wave propagation, particularly for high-frequency waves, which are deflected by heterogeneities in a process known as *scattering*. Studying the behavior of scattered waves can provide insights into the meso-scale behavior of heterogeneous materials and help further explore the statistical properties of the heterogeneities within them.

Material characterization using ballistic and diffuse waves
------
Ballistic waves, which travel in a straight line through the material and probe it as an *effective medium*, provide information about the macro-scale properties of the material, such as cracks and strain changes. In contrast, diffuse waves scatter within the material due to heterogeneities and have a broader spatial reach, offering insights into the meso-scale internal variations within a certain spatial range of the material. Analyzing the transport properties of these two distinct types of elastic waves provides a multi-scale tool for material characterization.

Application of wave interferomery in elastic wave-based structural health monitoring
------


Long-term monitoring of infrastructures
------


Application of machine learning in civil engineering
------


{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

